body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

input, select {
  width: 260px;
  padding: 12px;
  margin: 8px;
  font-size: 16px;
}

button {
  width: 280px;
  padding: 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
